"""
MM-Sync Secrets File (example only)
Author: Anthony George
Version: 2.0.5
"""

# -----------------------------
# HUNTRESS API KEYS
# -----------------------------
HUNTRESS_PUBLIC_KEY = ""
HUNTRESS_PRIVATE_KEY = ""

# -----------------------------
# NINJAONE OAuth2 CLIENT
# -----------------------------
NINJA_CLIENT_ID = ""
NINJA_CLIENT_SECRET = ""
NINJA_SCOPE = "monitoring management control"

# -----------------------------
# AXCIENT API KEY
# -----------------------------
AXCIENT_API_KEY = ""
