"""
MM-Sync Secrets File (.example)
Author: Anthony George
Version: 2.0.6
"""

# -----------------------------
# Huntress API
# -----------------------------
HUNTRESS_PUBLIC_KEY = ""
HUNTRESS_PRIVATE_KEY = ""

# -----------------------------
# NinjaOne OAuth2
# -----------------------------
NINJA_CLIENT_ID = ""
NINJA_CLIENT_SECRET = ""
NINJA_SCOPE = "monitoring management control"

# -----------------------------
# Axcient API Key
# -----------------------------
AXCIENT_API_KEY = ""
